fastapi
uvicorn[standard]

# Machine Learning
scikit-learn
lightgbm
pandas
numpy
joblib
shap
bcrypt==4.0.1

# Database
sqlalchemy
psycopg2-binary
alembic

# Authentication
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# Environment Variables
python-dotenv
pydantic-settings

# Validation
pydantic
email-validator

# File Upload
aiofiles

# CSV Handling
openpyxl

# Development
pytest
httpx